[submodule "3rd/spdlog"]
	path = 3rd/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd/imgui"]
	path = 3rd/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rd/cppzmq"]
	path = 3rd/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "3rd/nestopia"]
	path = 3rd/nestopia
	url = https://github.com/RetroTournaments/nestopia.git
[submodule "3rd/nativefiledialog"]
	path = 3rd/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
